{{ $current := "" }}
{{ $currentEntry := dict }}
{{ range .Site.Menus.main }}
  {{ $entry := . }}
  {{ $entryPermalink := .URL }}
  {{ with $entry.Page }}
    {{ $entryPermalink = .RelPermalink }}
  {{ end }}
  {{ if eq $entryPermalink $.RelPermalink }}
    {{ if $entry.Parent }}
      {{ $current = $entry.Parent }}
      {{ range $.Site.Menus.main }}
        {{ if eq .Identifier $current }}{{ $currentEntry = . }}{{ end }}
      {{ end }}
    {{ else }}
      {{ $current = $entry.Identifier }}
      {{ $currentEntry = $entry }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if not $current }}
  {{ range .Site.Menus.main }}
    {{ $entry := . }}
    {{ $entryPermalink := .URL }}
    {{ with $entry.Page }}
      {{ $entryPermalink = .RelPermalink }}
    {{ end }}
    {{ if and $entry.Identifier (hasPrefix $.RelPermalink $entryPermalink) }}
      {{ $current = $entry.Identifier }}
      {{ $currentEntry = $entry }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return (dict "identifier" $current "entry" $currentEntry "children" (where .Site.Menus.main "Parent" $current)) }}
